extends ../../layout.jade
block contenido
    h1 Claro
    hr
    h4(class="text-warning") Buscar Registro
    div(class="col-sm-3")
        -if(msg){
            div(class="alert alert-danger")
                span #{msg}
        -}
        -if(msgSuccess){
            div(class="alert alert-success")
                span #{msgSuccess}
        -}
        form(action="/campaign/claro" method="POST")
            div(class="form-group")
                label(for="document") Documento
                input(type="number" name="document" class="form-control")
            button(type="submit" class="btn btn-primary pull-right mb-5") Buscar
    
    -if(data){
        div(class="container")
            table(class="table table-hover")
                thead
                    tr
                        th(scope="col")
                        th(scope="col") Documento
                        th(scope="col") Nombre
                        th(scope="col") Lote
                        th(scope="col") Stealth
                tbody
                    each item in data
                        tr
                            td
                                div(class="form-group")
                                    div(class="custom-control custom-checkbox")
                                        input(class="custom-control-input" id=""+item.id+"" type="checkbox" value=""+item.documento+"" onclick="setIdSale(this)")
                                        label(class="custom-control-label" for=""+item.id+"")
                            td #{item.documento}
                            td #{item.nombre} #{item.apellido}
                            td #{item.idLote}
                            -if(item.campo8.indexOf("\r") > 0 || item.campo8.indexOf("\n") > 0){
                                td(class="text-danger") #{item.campo8}
                            -}else{
                                td #{item.campo8}
                            -}
        h4(class="text-warning") Modificar Registro
        div(class="container col-sm-4 pull-left")
            form(action="/campaign/claro/update", method="post")
                div(class="form-group")
                    label(for="id") Id
                    input(type="text" class="form-control text-warning" name="id" id="id" readonly)
                div(class="form-group")
                    label(for="slcFields") Campo
                    select(class="form-control" name="slcFields" id="slcFields")
                        option(value="" selected)
                        option(value="mail") Email
                        option(value="campo8") Campo8 (Stealth)
                div(class="form-group")
                    label(for="value") Valor
                    input(type="text" class="form-control" name="value" id="value")
                button(type="submit" class="btn btn-primary pull-right mb-5") Modificar
    -}

    
        

    
